html{
  flex-direction: column;
}
body{
  margin: 0;
  background-color: #fff;
  font: 13px/1.5 Arial,'Helvetica Neue',Helvetica;
  display: flex;
}
.firstLine{
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 1000px;
}
.header_first{
  display: flex;
  height: 44px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #d8d8d8;
  width: 100%;
}
ul.textLinksLeftBlock li{
  list-style: none;
  display: inline;
  padding:0 8px;
  flex-grow: 1;
}

.common-links-settings{
  text-decoration: none;
  color: #a1a1a1;
  padding: 0;
  border: 0;
  font-size: 14px;
  line-height: 20px;
}
.header_link_button_1{
  color: #a1a1a1;
}
.enter-and-registration{
  color: #0091d9;
  padding:0 8px;
  margin: 7px;
}
.header_link_button_1:hover{
  color: #ff6163;
}
.button_create_item{
  color: #fff;
  background: #0af;
  padding: 6px 13px;
  line-height: 16px;
  font-size: 14px;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 3px;
}
.button_create_item:hover{
  background: #26b7ff;
}
.right-area{
  display: flex;
  align-items: center;
}
.img-link-heart-inner{
  display: flex;
  margin-left: 15px;
}
.left-links-area{
  flex-grow: 1;
}

